client/node_modules/*
client/typings/*
client/app/*.js
client/app/*.js.map
client/app/components/dashboard/*.js
client/app/components/select-student/*.js
client/app/components/student-detail/*.js
client/app/components/students/*.js
client/app/components/student-form/*.js
client/app/components/dashboard/*.js.map
client/app/components/select-student/*.js.map
client/app/components/student-detail/*.js.map
client/app/components/students/*.js.map
client/app/components/student-form/*.js.map
client/app/models/*.js.map
client/app/models/*.js
client/app/services/*.js.map
client/app/services/*.js
client/bower_components/*
client/npm-debug.log
server/node_modules/*