<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h1>Wikipedia Demo</h1>
                <p><i>Fetches after each keystroke</i></p>
                <input #term (keyup)="search(term.value)"/>

            </div>
            <div class="col-md-12" id="typesoftask" [dragula]='"first-bag"'>
                <div *ngFor="let item of items | async" class="col-md-12 drag-item" [dragula]='"bag-one"'>{{item}}</div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div id="makingtask" [dragula]='"first-bag"'>
                
            </div>
            
        </div>
    </div>
</div>
