<p>{{student.name}}</p>
<p>{{student.lastName}}</p>
<p>{{student.email}}</p>


<!--<h3>Oceny:</h3>
<ul class="marks">
    <li *ngFor="let mark of marks">
        <label>Value:</label><span>{{mark.value}}</span>
        <label>Weight:</label><span>{{mark.weight}}</span>
        <label>Description:</label><span>{{mark.description}}</span>
        <button (click)="deleteMark(mark)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </li>
</ul>
<button (click)="addMark()">Add mark</button>

<div *ngIf="addedMark">
    <label>Value: </label>
    <input [(ngModel)]="addingMark.value">
    <label>Weight:</label>
    <input [(ngModel)]="addingMark.weight">
    <label>Description:</label>
    <input [(ngModel)]="addingMark.description">
    <button (click)="saveMark()">Save mark</button>
</div>-->